body{
    margin: 0;
    padding: 0;
    font-family: "roboto" sans-serif;
}
.header{
    z-index: 1;
    position: fixed;
    background: #0B0C0B ;
    height: 70px;
    width: 100%;
    top: 0;
    padding: 20px;
}
.left-area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}
.logout-btn{
   
    color: #fff;
    padding: 5px;
    background: #19b3d3;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.logout-btn:hover{
    background:  #ff33ff;
}
.sidebar{
    background: #0B0C0B;
    margin-top: 70px;
    left: 0;
    width: 250px;
    top: 0;
    height: 100%;
    overflow: auto;
  
    position: fixed;
    transition: 0.5s;
    transition-property: left;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 40px;
    padding-left: 40px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
   transition-property: background;
}
.sidebar a:hover{
    background: #ff33ff;
}
.sidebar i{
    padding-right: 10px;
}
label #sidebar-btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar-btn:hover{
   color: #19b3d3;
}
#check:checked ~ .sidebar{
    left: -190px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
.content{
    margin-left: 250px;
    margin-top: 70px;
    padding: 20px;

    background-position: center;
    background-size: cover;
    width: 100%-250px;
    height: 100vh;
    transition: 0.5s;
    

}
#check:checked ~ .content{
    margin-left: 60px;
    width: 100%-60px;
}
#check{
    display: none;
}


